<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>We need to use Face ID for secure authentication.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need Bluetooth access to connect to heart rate sensors.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need Bluetooth access to connect to heart rate sensors.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
